<link rel="stylesheet" href="stylesheets/nav.css">
<nav>
    <h1 class="logo"><div class="logoImg"></div></h1>
    <span class="ops">
        <a href="/" class="op">Home</a>
        <!-- <a href="/about" class="op">About</a> -->
        <!-- <a href="/contact" class="op">Contact</a> -->
        <a href="/profile" class="op">Explore</a>
        <a href="/login" class="op">Add-Book</a>
    </span>
    
</nav>