
<%- include('partials/header') %>
<link rel="stylesheet" href="stylesheets/index.css">
<main>
    <div class="left">
        <h1 class="heading">Join the Literary World Register with Book Haven</h1>
        <p class="graf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ratione pariatur a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ullam in nulla doloremque ut saepe.</p><br>
        <div><button class="explore btn"><a href="/profile">Explore</a></button> <button class="register btn"><a href="/login">Add-Book</a></button></div>
    </div>
    <div class="right">

    </div>
</main>

</body>
</html>